* {
  font-family: 'Montserrat', sans-serif;
}
body {
  text-align: center;
  margin: 0px;
  color: white;
  /*font-family: "Open Sans" !importent;*/
  font-weight: 100;

  font-size: 14px;
  text-shadow: 0 0 12px white;
  background: rgb(48,48,48);
  background: linear-gradient(180deg, rgba(48,48,48,1) 0%, rgba(37,37,37,1) 83%, rgba(0,0,0,1) 100%); 
  /*background-image: url("images/background-min.42bebd2d.png");*/
  background-color: #cccccc;
  /*background-repeat: no-repeat;*/
  background-size: cover; 
}

.shadow-image {
  width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #c7c7c7);
  filter: drop-shadow(5px 5px 5px #c7c7c7);
}

.custom-card {
  height: 100%;
}

/* Nav */

.button1 {
  border-radius: 20px;
  background-color: #0b78d1  ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  -webkit-filter: drop-shadow(0px 5px #0a69b7 );
  filter: drop-shadow(0px 5px #0a69b7 );
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 0;
  transition: 0.5s;
}



.button1:hover span {
  padding-right: 0px;

}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button1 { 
transition: all .2s ease-in-out; 
}

.button1:hover { 
transform: scale(1.1); 
}
.button2 {
  border-radius: 20px;
  background-color: #0b78d1  ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  -webkit-filter: drop-shadow(0px 5px #0a69b7 );
  filter: drop-shadow(0px 5px #0a69b7 );
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 0;
  transition: 0.5s;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 { 
transition: all .2s ease-in-out; 
}

.button2:hover { 
transform: scale(1.1); 
}

@media only screen and (max-width: 1263px) {
  .left, .right, .button1, .button2 {
    float: left;
    width: 85vw;
  }
}

/* Non Mobile Settings */
@media screen and (min-width: 1263px) {
  .button1 {
    float: left;
    display: inline;
  }

  .button2 {
    float: right;
    display: inline;
  }

  .left {
    float: left;
    display: inline;
  }

  .right {
    float: right;
    display: inline;
  }

}


@media screen and (min-width: 600px) {
  div.custom-row {
    display: flex;
  }
}


.thumbnail { 
display: block;
margin-left: auto;
margin-right: auto;

top:-50px; 
left:-35px; 
display:block; 
z-index:100; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease;
-webkit-filter: drop-shadow(5px 5px 5px #616161);
filter: drop-shadow(5px 5px 5px #616161);
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.1); 

}

.wrapper.five {

}
.wrapper.five2 {

}
.float-box {
    transform-style: preserve-3d;
    transform-origin: left;
    transform: perspective(100px) rotateY(10deg);
}
.float {
  animation: floating 2s linear infinite;

  color: #ffffff;
  Margin-right: -100%;

  Padding-top: -100%;

  Position: relative;
  float: left;

  z-index: 1;
}
.float2 {
  animation: floating 2s linear infinite;

  color: #ffffff;
  Margin-right: -100%;

  Padding-top: -100%;

  Position: relative;
  float: right;

  z-index: 1;
}
@keyframes floating {
    0% {
        transform: translate(0%, 5%);
    }
    50% {
        transform: translate(0%, -5%);
    }
    100% {
        transform: translate(0%, 5%);
    }
}
/* 
#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #3b3b3b;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #525252;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4f4f4f;
    background-clip: padding-box;
    border: 1px solid #6b6b6b;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
}

.fcf-credit a {
    color: #ffffff;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #0a69b7;
    border-color: #0a69b7;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0a69b7;
    border-color: #0a69b7;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0a69b7;
    border-color: #0a69b7;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
 */
label {
  display: block;
  font:
    1rem 'Montserrat',
    sans-serif;

}

input,
label {
  margin: 0.4rem 0;

}
body {
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.buttonsubmit {
  border-radius: 20px;
  background-color: #0b78d1  ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  -webkit-filter: drop-shadow(0px 5px #0a69b7 );
  filter: drop-shadow(0px 5px #0a69b7 );
}

.buttonsubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 0;
  transition: 0.5s;
}



.buttonsubmit:hover span {
  padding-right: 0px;

}

.buttonsubmit:hover span:after {
  opacity: 1;
  right: 0;
}
.buttonsubmit { 
transition: all .2s ease-in-out; 
}

.buttonsubmit:hover { 
transform: scale(1.1); 
}

.gradientbg {
  background: rgb(38,38,38);
  background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,1) 50%, rgba(38,38,38,1) 100%);
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content{
  text-align: center;
}

.content h1{
  font-size: 160px;
  color: #fff;
  font-weight: 600;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.back-video{
  position: absolute;
  right:0;
  bottom:0;
  z-index:-1;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #0b78d1;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.limit{
  width:750px;
  word-wrap: break-word;
  text-align: center;
  float: center;
}

.limit2{
  width:1000px;
  word-wrap: break-word;


  margin: 0 auto;
}

